@import "../../style.scss";


.navbar {
    @include themify($themes){

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid themed("border");
    height: 50px;  //fixed height because we will need to do some calculations for our fixed navbar position
    position: sticky;
    top: 0;
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999;

    .left{
        display: flex;
        align-items: center;
        gap: 30px;

        span{
            font-weight: bold;
            font-size: 20px;
            color: themed("logo");
            
        }
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid themed("border");
            border-radius: 5px;
            padding: 5px;

            input{
                border: none;   // so the input field and search icon can share a common border
                width: 500px;
                background-color: transparent;
                outline: none;
                color: themed("textColor");
                

                @include mobile {
                    display: none;
                }

                @include tablet {
                    width: 200px;
                }
            }
        }
    }
    .right{
        display: flex;
            align-items: center;
            gap: 20px;

            @include mobile {
                display: none;
            }           

        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 500px;
            img{
                width: 30px;
                height: 30px;
                border-radius: 50%;
                object-fit: cover;

            }
            span{
                
            }
        }
    }
}
}